mixin search(keyword)
  form(id='form-search')
    .input-group 
      input.form-control(
        type='text'
        placeholder='Nhập từ khóa'
        name='keyword'
        value=keyword
      )
      .input-group-append 
        button.btn.btn-success(
          type='submit'
        ) Search